# Protect API key
WeatherPy/api_keys.py

# Python artifacts
__pycache__/
*.py[cod]
*.egg-info/
*.egg

# Jupyter notebooks
.ipynb_checkpoints/

# Virtual Environments
.env
.venv
env/
venv/

# Django
*.log
db.sqlite3
db.sqlite3-journal

# Flask
instance/
.webassets-cache

# Documentation and Builds
docs/_build/
build/
dist/
*.spec

# Logs and Databases
*.log
*.sqlite

# OS generated
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
.spyderproject
.spyproject
.ropeproject

# Other tools
.coverage
.mypy_cache/
.pytest_cache/
.pyre/